<a href="https://colab.research.google.com/github/Vaisakh30/SLA1/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CLEANING THE DATA FOR PROPER ANALYSIS

# New Section

In [62]:
import pandas as pd

In [63]:
df = pd.read_csv ('world_marathon_majors.csv', encoding='latin1')

CHANGE THE FONT STYLE TO NORMAL

In [64]:
df.style.set_table_styles([{
    'selector': 'td',
    'props': [('font-family', 'Arial'), ('font-size', '12pt')]
}]).set_caption('World Marathon Majors Data')

In [65]:
print (df.head())

   year              winner  gender   country marathon      time  Unnamed: 6  \
0  2018      Dickson Chumba    Male     Kenya    Tokyo  02:05:30         NaN
1  2018      Birhane Dibaba  Female  Ethiopia    Tokyo  02:19:51         NaN
2  2017      Wilson Kipsang    Male     Kenya    Tokyo  02:03:58         NaN
3  2017  Sarah Chepchirchir  Female     Kenya    Tokyo  02:19:47         NaN
4  2016       Feyisa Lilesa    Male  Ethiopia    Tokyo  02:06:56         NaN

   Unnamed: 7
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

INSPECTING DATA

In [66]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        536 non-null    int64
 1   winner      536 non-null    object
 2   gender      536 non-null    object
 3   country     536 non-null    object
 4   marathon    536 non-null    object
 5   time        536 non-null    object
 6   Unnamed: 6  0 non-null      float64
 7   Unnamed: 7  0 non-null      float64
dtypes: float64(2), int64(1), object(5)
memory usage: 33.6+ KB
None

In [67]:
print (df.describe())

              year  Unnamed: 6  Unnamed: 7
count   536.000000         0.0         0.0
mean   1987.919776         NaN         NaN
std      26.104662         NaN         NaN
min    1897.000000         NaN         NaN
25%    1980.000000         NaN         NaN
50%    1993.000000         NaN         NaN
75%    2007.000000         NaN         NaN
max    2018.000000         NaN         NaN

Indentify missin

In [71]:
print(df.isnull().sum())

year            0
winner          0
gender          0
country         0
marathon        0
time            0
Unnamed: 6    536
Unnamed: 7    536
dtype: int64

IDENTIFYING DUPLICATES AND REMOVING

In [72]:
print(df.duplicated().sum())

0

In [73]:
df.head()

,year,winner,gender,country,marathon,time,Unnamed: 6,Unnamed: 7
0,2018,Dickson Chumba,Male,Kenya,Tokyo,02:05:30,NaN,NaN
1,2018,Birhane Dibaba,Female,Ethiopia,Tokyo,02:19:51,NaN,NaN
2,2017,Wilson Kipsang,Male,Kenya,Tokyo,02:03:58,NaN,NaN
3,2017,Sarah Chepchirchir,Female,Kenya,Tokyo,02:19:47,NaN,NaN
4,2016,Feyisa Lilesa,Male,Ethiopia,Tokyo,02:06:56,NaN,NaN

CONVERTING TO CSV FILE

In [74]:
df.to_csv('final2_world_marathon_majors.csv',index=False)